<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>New Post</h2>
    <form method="POST" action="/new">
      <label for="messagUser">
        name
        <input type="text" name="messageUser" required>
      </label>
      <label for="messageText">
        message
        <input type="text" name="messageText" required>
      </label>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
